*.ids
*.iml
*.ipr
*.iws
.csrepo
.gradle
.idea*
build
dist
dist-cli
.vite
target
custom.properties
custom.properties*.my
out
logs
node_modules
.env.development
.env.custom
.settings
.project
*.log
development.env.js
.vagrant
.classpath
cicd/config/vaults
.vscode
vault-*.password
.tool-versions
designtokens-tools/dist-cli/
